


body{
    margin: auto;
    text-align: center !important;
    background-color: none;
}

#vidBod{
    
    padding-top: 40px;
}

 header{
            height: 100px;
            background: #dbdbdb;
            width: 100%;
            z-index: 10;
            position: fixed;
        }


.parallax-container h1{
   
    padding-top: 100px;
}


body script { 
    display: block; 
    margin: 0 0 20px 0; 
    overflow-x: scroll; 
}

header.row,
footer.row{
    display: flex;
    align-items: center;
}


.h2{
    text-align: center !important;
    font-family: 'Rubik', sans-serif;
    color: white;
    
}

.h3{
    
    font-family: 'Righteous', cursive;
}


.introduction{
    text-align: center;
    margin-top: 50px;
    width: 400px;
    height: auto;
    justify-content: center;
    
}





.introduction span{
    margin: auto;
    
}

.space{
    padding: 200px !important;
    margin: 100px !important;
}

/*index stuff*/

 h1{
        text-align: center !important;
        font-size: 600%;
        color: aliceblue;
        padding-top: 300px !important;
        text-shadow: 1px 1px 1px #000, 6px 6px 10px black; 
        font-family: 'Righteous', cursive;
    }
    
    #jamal h2{
        padding: none;
        font-family: 'Rubik', sans-serif;
        color: white;
    
    }

#para2{
    

        
}
    
    .home-pic{
        background-image: url(../images/gallery/DSC_1129.JPG);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center;
        background-size:cover;
        height: 800px;
        /* width: 1420px;*/
        margin-left: ;
        margin-top: 50px;

}

   
#embed-responsive embed-responsive-16by9{
    
    width: 60%;
}
    
    h3{
        
        padding-top: 40px;
    }
    
    h4{
        
        text-align: center;
        color: darkgray;
        
    }
    
    #beginning{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
     
        background-color: #1E1E1E;
    }
    
    #beginning h2{
        color: lightgray;
    
}
    
    #jamal{
        padding-top:;
        padding-bottom: 100px !important;
       
    }

    #jh2{
        padding-top: 50px;
}

    #jamal img {
        padding-left: 80px;
        padding-top: 60px;
        padding-bottom: 100px;
        width: 60%;
        height: auto;
        position: relative;
    }
    
    
    #backgroundInfo{
        width: 100%;
        padding-top: 100px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 100px;
        align-content: center;
        background-color: #1E1E1E;
        
    }

     #backgroundInfo h2{
        width 80%;
        color: lightgray;
        
    }
    
    #backgroundInfo h3{
        width 70%;
        font-style: italic;
        color: lightgray;
        
    }
    
    #cards{
        width: 70%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 20%;
    }
    
    #cards h2{
        text-align: center;
    }

    #cards h4{
        text-align: center;
    }
    #cards img {
     
        padding-top: 7%;
        width: 100%;
        height:auto;
        position: relative;
        background-color: whitesmoke;
        /*background-color: #F4F4F4;*/
       /* background-color: #A5A5A5;*/
       
    }
    
    #skills{
        background-color: whitesmoke;
        /*background-color:#1E1E1E;*/
    }
    
    #cards img {
        -webkit-transition:all .3s ease-out;
        -moz-transition:all .3s ease-out;
        -ms-transition:all .3s ease-out;
        -o-transition:all .3s ease-out;
        transition:all .3s ease-out;
       
  
    }

    #cards img:hover {
        -webkit-transform:translate(0px,-10px);
        -moz-transform:translate(0px,-10px);
        -ms-transform:translate(0px,-10px);
        -o-transform:translate(0px,-10px);
        transform:translate(0px,-10px);
        
    }

footer{
    background: black;
    padding-top: 40px;
    padding-bottom: 30px;
}
footer h5{
    color: whitesmoke;
}
    
    .col-md-6{
        
        align-content: center;
    }
    .col-md-3 {
        padding: 20px;
        max-height: 80%;
        text-align: center;
    }
    
    .col-md-3 a{
        margin-bottom: 20x;
    }
    .parallax-container{}
    
    @media (max-width: 1000px){
        
        
    }



@media (min-width: 992px) {
    .youtubevid {
        /*width: 960px;
        height: 540px; /* 720px */
        width: 640px;
        height: 360px; /* 480px */
        
    }
    
    

}

@media (min-width: 767px) and (max-width: 991px) {
    .youtubevid {
        width: 640px;
        height: 360px; /* 480px */
    }
    
    .home-pic{
    background-image: url(../images/gallery/DSC_1129.JPG);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size:cover;
    height: 300px;
   /* width: 1420px;*/
    margin-left: ;
    margin-top: 50px;

}

    #backgroundInfo{
        width: 100%;
        padding-top: 100px;
        padding-left: none;
        padding-right: none;
        padding-bottom: 100px;
        align-content: center;
        background-color: #1E1E1E;
        
    }
    
     #jamal img {
        padding-left: none;
        padding-right: none;
        padding-top: none;
        padding-bottom: none;
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media (min-width: 481px) and (max-width: 766px) {
    .youtubevid {
        width: 480px;
        height: 270px; /* 320px */
    }
    
    #backgroundInfo{
        width: 100%;
        padding-top: 100px;
        padding-left: none;
        padding-right: none;
        padding-bottom: 100px;
        align-content: center;
        background-color: #1E1E1E;
    }
    
    #jamal img {
        padding-left: none;
        padding-right: 15%;
        padding-top: none;
        padding-bottom: none;
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .parallax-container{
        
        width: 100%;
        height:auto;
    }
    
    
}

@media (max-width: 480px) {
    .youtubevid {
        width: 300px;
        height: 169px; /* 225px */
    }
    
    h1{
        text-align: center !important;
        font-size: 200%;
        color: aliceblue;
        padding-top: 300px !important;
        text-shadow: 1px 1px 1px #000, 6px 6px 10px black; 
        font-family: 'Righteous', cursive;
    }
    
    #backgroundInfo{
        width: 100%;
        height: auto;
        padding-top: 100px;
        padding-left: none;
        padding-right: none;
        padding-bottom: 100px;
        align-content: center;
        background-color: #1E1E1E;
    }
    
    #jamal img {
        padding-left: none;
        padding-right: 15%;
        padding-top: none;
        padding-bottom: none;
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .parallax-container{
        display:none;
            
        
    }
    
}
