*{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    transform: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
/* Mobile First Styling*/

body{
        display: none;
}
#svg1 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*fill: linear-gradient(135deg, #a90329 0%,#8f0222 44%,#6d0019 100%);*/
    fill: #a90329;
}

.d-top{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    max-width: 750px;
}

#svg2 {
    display: inline-block;
    position:inherit;
    top: 0;
    left: 0;
    z-index: -1;
    margin-bottom: -100px;
    /*fill: #a90329;
    margin-top: -64px;
    margin-bottom: -20px;*/  
}

header {
    display: inline-block;
    position: inherit;
    width: 100%;
    padding-top: 475px;
    margin-top: -350px;
    /*padding-bottom: 100%;*/
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

footer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 0px;
    vertical-align: middle;
    overflow: inherit;
}

header h1 {
    font-family: 'Roboto:900', sans-serif;
    font-size: 40px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.49);
    margin-top: -100px;
    z-index: 200px;
}

header h2 {
    font-family: 'Roboto:700', sans-serif;
    font-size: 24px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.49);
    z-index: 200px;
}

h3 {
   font-family: 'Roboto:700', sans-serif;
    font-size: 32px;
    position: relative;
    text-align: center;
    color: #8c8c8c; 
}

p {
   font-family: 'Roboto:500', sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 90%;
    position: relative;
    text-align: center;
    color: #8c8c8c; 
    margin: 0 auto;
    padding-top: 20px;
}

.sample-work-holder {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.sample-work-holder:nth-of-type(even) {
    background: #fafafa;
}

.sample-work li {
    font-family: 'Roboto:500', sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 90%;
    position: relative;
    color: #8c8c8c;
    margin: 0 auto;
    padding-top: 8px;
}

.sample-work h4, .sample-work h5 {
    font-family: 'Roboto:800', sans-serif;
    color: #8c8c8c;
    margin: 10px auto;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto 0 auto;
    height: 200px;
}

.contact h2 {
    font-family: 'Roboto:900', sans-serif;
    font-size: 24px;
    line-height: 18px;
    position: relative;
    text-align: center;
    color: #8c8c8c; 
    margin: 0 auto;
    padding-top: 30px
}

.about-p {
    padding-bottom: 40px;
}

#skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.skill-layout {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.sub-skill img {
    width: 20%;
    height: auto;
    margin: 32px auto;
}
.sub-skill div {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-skill div li {
    height: 15px;
}

.sub-skill {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto
}

.sub-skill div {
    margin: 0 auto;
}

.sub-skill p {
    width: 70%;
}

.sub-skill span, .tags span { 
    max-height: 44px;
    background-color: gray;
    padding: 15px 17px;
    color: #fff;
    border-radius: 25px;
    margin: 2px;
}

.side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.side img{
    margin: 0 auto;
}

.tags {
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px auto;
}

.sample-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 48px;
}
.sample-work img {
    width: 80%;
    height: auto;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    margin: 0 auto;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #c6002d;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn:hover {
    background: #b3042f;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-2 {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: gray;
    font-size: 18px;
    background: #fff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center; 
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
}

.btn-2:hover, .btn-3:hover {
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn-3 {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: gray;
    font-size: 18px;
    background: #fff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center; 
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.49);
}
#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 110px;
}

#intro .about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
/* #circle {
    width: 50%;
    height: auto;
    margin: 0 auto;
} */

footer p {
    color: white;
    padding-top: 60px;
}


#skill-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.socialLinks{
    width: 60%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: -4px;
}
.socialLinks div{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Footer-copyright{
    text-align: left !important;
    margin: 0 auto;
    padding-top: 38px;
}
.socialLinks img{
    z-index: 100;
    width: 40px;
    height: auto;
    margin: 0 4px;
    transition: ease 0.5s;
}
.socialLinks img:hover{
    opacity: 0.6;
}

@media (min-width: 500px) {
    header {
        padding-top: 495px;    
        }
    header h1 {
            margin-top: -100px;
        }
    #intro {
            margin-top: 200px;
        }    
}

@media (min-width: 600px) {
    header {
        padding-top: 525px;    
    }
}

@media (min-width: 700px) {
    header {
        padding-top: 540px;    
    }
    
}

@media (min-width: 800px) {

    header {
        padding-top: 600px;    
    }
        
    .about-p {
        width:80%;
        padding-bottom: 100px;
        } 
        
    #svg2 {
        display: inline-block;
        position:inherit;
        margin-top: -225px;
        margin-bottom: -100px;  
    }    
        
    h3 {
        font-size: 40px;    
    } 
        
    #intro .about-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 0px; 
        width: 75%;
        max-width: 1100px;
        margin: 0 auto;
    }

    #intro p {
        padding-top: 64px;    
    }

    /* #circle {
        width: 30%;
        padding: 0px 25px 0px 25px;
        height: auto;
        margin: 0 auto;
    }     */
    .circle{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-image: url("../images/face-crop.jpg");
        background-size: cover;
    }   

    #skills h3 {
        width: 100%;
        padding-bottom: 40px;
    } 
        
    #skills {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
    } 
        
    .sub-skill img {
        margin: 0 auto;  
        width: 18%;
    }  

    #projects h3 {
        padding-top: 50px;    
    } 

    .sample-work {
        display: flex;
        flex-direction: ;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 48px;
        margin: 0 auto;
    }
        
    .btn {
        margin: 0 auto;    
    }
        
    .d-top {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .d-top div {
        width: 75%;
        margin: 0 auto 24px auto;
    }

    .d-top div li {
        list-style-position: inside;
    }
        
    .sample-work img {
        width: 100%;
        height: auto;
        padding: 20px 0 20px 0;
        margin: 0 auto;
    }    

    #tp-phone {
        width: 60%;
        height: auto;
    }

    .sample-work p { 
        width: 90%;    
        padding-top: 8px;
    }

    header h1 {
        text-align: left;
        margin-top: -150px;
        padding-left: 50px;
        }  
        
    header h2{ 
        text-align: left;
        padding-left: 50px;
        }    
   
    footer {
        overflow: inherit;
        padding-top: 400px;
    }

    .btn-2 {
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: Arial;
        color: gray;
        font-size: 18px;
        background: #fff;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        width: 200px;
        height: 40px;
        margin: 40px 0 20px 50px;
        text-align: center;    
    } 
        
    #intro {
        margin-top: 242px;   
    } 
}

@media (min-width: 1000px) {
    
.sample-work {
    width: 86%;
    margin: 0 auto;
    }
    
header {
    padding-top: 600px;    
    }   
    
#intro {
     margin-top: 400px;   
    }
    
    h1 {
        height:24px;
        line-height: 24px;
    }    
    
    h2 {
        height: 20px;
        line-height: 20px;
        padding-top: 15px;
    }
    
    .btn {
        margin-top: 50px;
    }
}


@media (min-width: 1200px) {
 
/*header{
   padding-top: 800px;
    } */
header h1 {
    margin-top: -100px;
    }
    
.sample-work img {
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    margin: 0 auto;
}
    
.sample-work {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    }    
}

@media (min-width: 1400px) {
    /*header{
        padding-top: 1000px;
    }*/
    header h1 {
        margin-top:-100px;
    }
    #intro {
     margin-top: 500px;   
    }    
    }
@media (min-width: 1600px) {
   /* header{
        padding-top: 1200px;
    }*/
    header h1 {
        margin-top: -100px;
    }
    
}

@media (min-width: 1700px) {
    header h1 {
        margin-top:100px;
        margin-left: 100px;
    }
    
    header h2 {
        margin-left: 100px;
    }
    
    .btn-2 {
        margin-left: 145px;
    }
    
   #intro {
     margin-top: 600px;   
    }   
}

@media (min-width: 1850px) {
   #intro {
     margin-top: 700px;   
    }   
}

@media (min-width: 2050px) {
   #intro {
     margin-top: 900px;   
    }   
}

@media (max-width: 800px) {
    #skill-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sub-skill div {
        width: 100%;
    }

    .sub-skill {
        justify-content: space-around;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;
    }
    .sample-work {
        display: flex;
        flex-direction: column;
    }
    .side {
        width: 100%;
        margin: 0 auto;
    }
    .d-top {
        width: 100%;
        margin: 0 auto;
    }
}